<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="YTLWebApplication.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
  <!-- SECURITY FIX: Use connectionStrings section -->
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=LAPTOP-MS6HUBRJ;Database=ytldb;Integrated Security=SSPI;MultipleActiveResultSets=True;Connection Timeout=30;Command Timeout=30;Encrypt=True;TrustServerCertificate=True;" providerName="System.Data.SqlClient" />
    <add name="OSSConnection" connectionString="Data Source=LAPTOP-MS6HUBRJ;Database=ossdb;Integrated Security=SSPI;MultipleActiveResultSets=True;Connection Timeout=30;Command Timeout=30;Encrypt=True;TrustServerCertificate=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <appSettings>
    <!-- SECURITY FIX: Keep only necessary settings -->
    <add key="sqlserverdsn" value="Provider=SQLOLEDB;Data Source=LAPTOP-MS6HUBRJ;Database=ytldb;Integrated Security=SSPI;" />
  </appSettings>
  
  <system.web>
    <!-- SECURITY FIX: Disable debug mode in production -->
    <compilation targetFramework="4.5.1" debug="false" />
    
    <!-- SECURITY FIX: Enable proper authentication -->
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" timeout="30" requireSSL="true" cookieless="false" protection="All" slidingExpiration="false" />
    </authentication>
    
    <!-- SECURITY FIX: Add authorization -->
    <authorization>
      <deny users="?" />
      <allow users="*" />
    </authorization>
    
    <!-- SECURITY FIX: Secure error handling -->
    <customErrors mode="On" defaultRedirect="~/Error.aspx">
      <error statusCode="404" redirect="~/Error.aspx" />
      <error statusCode="500" redirect="~/Error.aspx" />
      <error statusCode="403" redirect="~/Error.aspx" />
    </customErrors>
    
    <!-- SECURITY FIX: Secure session configuration -->
    <sessionState mode="InProc" timeout="30" cookieless="false" regenerateExpiredSessionId="true" cookieTimeout="30" httpOnlyCookies="true" cookieSameSite="Strict" />
    
    <!-- SECURITY FIX: Add request validation and security settings -->
    <httpRuntime targetFramework="4.5.1" requestValidationMode="4.5" enableVersionHeader="false" maxRequestLength="4096" executionTimeout="90" enableHeaderChecking="true" />
    
    <!-- SECURITY FIX: Secure pages configuration -->
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" validateRequest="true" enableViewStateMac="true" viewStateEncryptionMode="Always" enableEventValidation="true" />
    
    <!-- SECURITY FIX: Add machine key for encryption -->
    <machineKey validationKey="[GENERATE_VALIDATION_KEY]" decryptionKey="[GENERATE_DECRYPTION_KEY]" validation="HMACSHA256" decryption="AES" />
    
    <!-- SECURITY FIX: Add trust level -->
    <trust level="Full" />
    
    <!-- SECURITY FIX: Add HTTP modules -->
    <httpModules>
      <add name="SecurityModule" type="YTLWebApplication.SecurityModule" />
    </httpModules>
    
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
  </system.web>
  
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
    
    <!-- SECURITY FIX: Add security headers -->
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <add name="X-Frame-Options" value="DENY" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-XSS-Protection" value="1; mode=block" />
        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains; preload" />
        <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
        <add name="Content-Security-Policy" value="default-src 'self'; script-src 'self' 'unsafe-inline' https://maps.googleapis.com https://ajax.googleapis.com https://maxcdn.bootstrapcdn.com; style-src 'self' 'unsafe-inline' https://maxcdn.bootstrapcdn.com https://cdnjs.cloudflare.com; img-src 'self' data: https:; font-src 'self' https://cdnjs.cloudflare.com; connect-src 'self'; frame-ancestors 'none';" />
        <add name="Permissions-Policy" value="geolocation=(), microphone=(), camera=(), payment=(), usb=(), magnetometer=(), gyroscope=(), speaker=()" />
      </customHeaders>
    </httpProtocol>
    
    <urlCompression doDynamicCompression="true" />
    
    <!-- SECURITY FIX: Secure caching -->
    <caching>
      <profiles>
        <add extension=".aspx" policy="DontCache" kernelCachePolicy="DisableCache" duration="00:00:30" />
      </profiles>
    </caching>
    
    <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <remove fileExtension=".kml" />
      <mimeMap fileExtension=".kml" mimeType="application/vnd.google-earth.kml+xml" />
    </staticContent>
    
    <!-- SECURITY FIX: Add HTTP modules for IIS -->
    <modules runAllManagedModulesForAllRequests="true">
      <add name="SecurityModule" type="YTLWebApplication.SecurityModule" />
    </modules>
    
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    
    <!-- SECURITY FIX: Add request filtering -->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="4194304" maxUrl="4096" maxQueryString="2048" />
        <verbs>
          <add verb="TRACE" allowed="false" />
          <add verb="OPTIONS" allowed="false" />
          <add verb="DEBUG" allowed="false" />
          <add verb="TRACK" allowed="false" />
        </verbs>
        <fileExtensions>
          <add fileExtension=".config" allowed="false" />
          <add fileExtension=".log" allowed="false" />
          <add fileExtension=".cs" allowed="false" />
          <add fileExtension=".vb" allowed="false" />
          <add fileExtension=".resx" allowed="false" />
          <add fileExtension=".resources" allowed="false" />
        </fileExtensions>
        <hiddenSegments>
          <add segment="App_Code" />
          <add segment="App_Data" />
          <add segment="bin" />
          <add segment="obj" />
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
  
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  
  <applicationSettings>
    <YTLWebApplication.My.MySettings>
      <setting name="YTLWebApplication_SMSInsert_GlobalSimService" serializeAs="String">
        <value>http://fleet.avls.com.my/GlobalSimService.asmx</value>
      </setting>
    </YTLWebApplication.My.MySettings>
  </applicationSettings>
  
  <!-- SECURITY FIX: Location-specific security for sensitive directories -->
  <location path="App_Code">
    <system.web>
      <authorization>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
  <location path="Logs">
    <system.web>
      <authorization>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
  <location path="U">
    <system.web>
      <authorization>
        <allow roles="Admin,SuperUser" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
</configuration>
<!--ProjectGuid: 7F2CC61A-7773-47C5-8EC2-5DCC24B9FA0A-->